# Python
__pycache__/
*.pyc
venv/
.env
.env.local
.env*.local

# Node 
node_modules/
dist/
build/

#Plasmo
.plasmo/

# VSCode
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# files
frontend_split/
backend_split/
frontend_all_content.txt
backend_all_content.txt

# k8s & Secrets
secret.yaml
*.secret.yaml
secrets/
.secrets/

# === Add to .gitignore ===
k8s/secret.yaml
.env
*.pem